<!DOCTYPE html>
<html lang="it">
<head>
    <link rel="stylesheet" href="/static/css/css.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista della Spesa</title>
</head>
<body>
    <h1>La tua Lista della Spesa</h1>

    {% if lista %}
        <ul>
            {% for elemento in lista %}
                <li>
                    {{ elemento.elemento }}
                    <form action="/rimuovi/{{ elemento.id }}" method="post" style="display:inline;">
                        <button type="submit">Rimuovi</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>La lista è vuota.</p>
    {% endif %}
    <form action="/svuota" method="post">
        <button type="submit" class="add-button">svuota</button>
    </form>
    <form action="/aggiungi" method="post">
        <input type="text" name="elemento" placeholder="Aggiungi un elemento" required>
        <button type="submit" class="add-button">Aggiungi</button>
    </form>
</body>
</html>
